@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  color: inherit;
  text-decoration: none;
}
body {

  background-image: linear-gradient(to right, #fdf9da, #6ec6f1);
}
 
header {
  background: #ffc727;

  border-bottom: solid 0.125rem #1c365e;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);

  display: flex;
  align-items: flex-end;
}

header container {
  background-image: linear-gradient(to left, #fdf9d5, #ededed);

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 0.7rem;

  padding: 1.5rem 3rem 0 2rem;

  height: 6rem;

  width: 100%;
}

nav {
  width: 40%;
}

.links_home {
  display: flex;
  justify-content: space-between;
  width: 100%;

  color: #0e243f;
  font-family: Inter;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

main {
  width: 82vw;
  margin: 0 auto;
}

.face_contato {
  display: inline;
  justify-content: space-between;
  width: 80%;

  height: 1rem;
}

.face_contato container {
  display: flex;
  flex-direction: column;


  width: 100%;
}


.face_contato span {
  color: #2d3a40;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 40px;
}

.face_contato div {
  color: #374850;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 20px;
}


.formulario_contato {
  display: inline;
  align-items:center;
  justify-content: center;
  margin-top: 10px;
  padding: 10px;
  width: 100%;
}

.filtro_contato {
    align-items: center;
    justify-content: center;
    width: 80%;
}

.filtro_contato label{
  color: #374850;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
}

.filtro_contato input{
    border-radius: 10px;
    width: 80%;
    height: 40px;
    margin: 10px;
    padding: 10px;

    color: #374850;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;


}

.filtro_contato textarea{
    border-radius: 10px;
    width: 80%;
    height: 80px;
    margin: 10px;
    padding: 10px;

    color: #374850;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}
.filtro_contato1 textarea{
    border-radius: 10px;
    width: 73.5%;
    height: 80px;
    margin: px;
    padding: 10px;

    color: #374850;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.button_contato{
    display: flex;
    align-items: center;
    justify-content: center;

}

.button_contato button {
  background:#fdf9da;
  border: 1px solid #374850;
  border-radius: 10px;
  opacity: 0.8;

  width: 25%;
  height: 50%;
  max-height: 80px;

  padding: 10px;
  margin: 10px;


  color: #374850;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.button_contato button:hover {
  scale: 1.1;
  border: 2px solid #374850;
  transition: scale 0.2s;
}




footer {
  background: #ffc727;

  height: 1rem;
  padding: 0.5rem;
  margin-top: 135px;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #fff;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
}
