@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  color: inherit;
  text-decoration: none;
}
body {

  background-image: linear-gradient(to right, #fdf9da, #B4CFB0);
}
header {
  background: #ffc727;

  border-bottom: solid 0.125rem #1c365e;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);

  display: flex;
  align-items: flex-end;
}

header container {
  background-image: linear-gradient(to left, #fdf9d5, #ededed);

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 0.7rem;

  padding: 1.5rem 3rem 0 2rem;

  height: 6rem;

  width: 100%;
}

nav {
  width: 40%;
}

.links_home {
  display: flex;
  justify-content: space-between;
  width: 100%;

  color: #0e243f;
  font-family: Inter;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

main {
  width: 82vw;
  margin: 0 auto;
}

.face_vagas {
  display: flex;
  justify-content: space-between;

  height: 17rem;
}

.face_vagas container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 70%;
}

.face_vagas span {
  color: #2d3a40;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.filtro_vagas {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-right: 2.5rem;

  height: 50%;
}

.button_vagas {
  background:#fdf9da;
  border: 1px solid #374850;
  border-radius: 10px;
  opacity: 0.8;

  width: 32%;
  height: 50%;
  max-height: 80px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #374850;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.button_vagas:hover {
  scale: 1.1;
  border: 2px solid #374850;
  transition: scale 0.2s;
  background-color: rgb(213, 213, 230);
  
}

.face_vagas img {
  width: 30%;
}

.conteudo_vagas {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.cards_vagas {
  border-radius: 0.625rem;
  border: 2px solid #374850;
  background: #fff;

  width: 25%;
  height: 18rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  padding: 1.5rem;
  margin: 0 0 1rem 1rem;
}

.conteudo_vagas:hover .cards_vagas {
  opacity: 0.2;
  transition: opacity 0.3s;
}

.conteudo_vagas .cards_vagas:hover {
  scale: 1.1;
  opacity: 1;
  transition: scale 0.2s;
}

.vagas_titulo,
.vagas_localidade {
  color: #000;
  font-family: Inter;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.vagas_descricao {
  margin-top: 1rem;

  color: #000;
  font-family: Inter;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.vagas_saibamais {
  background: #f7f7f7;
  border: 1px solid #374850;
  border-radius: 10px;
  opacity: 0.8;

  width: 60%;
  height: 15%;

  margin: auto auto 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #374850;
  font-family: Inter;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

footer {
  background: #ffc727;

  height: 1rem;
  padding: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #fff;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
}
